/* General reset and box-sizing for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

#files-div,
.language-selection,
#model-selection,
.submit-button {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="file"],
select {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"] {
    display: inline;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#database-select-div {
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
    display: inline;
}

label {
    margin-right: 10px;
    display: inline;
}


.language-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#model-selection {
    margin-top: 10px;
}

.hidden {
    display: none;
}

/* error message */
.alert-error {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin: 15px;
}

.alert-success {
    padding: 20px;
    background-color: #36f485;
    /* Red */
    color: white;
    margin: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}